<div class="tg-wrap">
<table class="tg" style="undefined;table-layout: fixed; width: 552px">
<colgroup>
<col style="width: 368px">
<col style="width: 71px">
<col style="width: 113px">
</colgroup>
  <tr>
    <th class="tg-9hbo"><h3>Order</h3></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
  </tr>
  <tr>
    <td class="tg-yw4l">Product</td>
    <td class="tg-baqh">Q.ta</td>
    <td class="tg-lqy6">Price</td>
  </tr>
  <!-- loop dei prodotti  -->
  <tr>
    <td class="tg-yw4l">e.DO 4 AXESYour Mounting Option: Mounting Kit</td>
    <td class="tg-baqh">1</td>
    <td class="tg-lqy6">500</td>
  </tr>
  <tr>
    <td class="tg-yw4l">e.DO 6 AXESYour Mounting Option: Mounting Kit</td>
    <td class="tg-baqh">4</td>
    <td class="tg-lqy6">2000</td>
  </tr>
  <!-- fine loop prodotti -->
  <tr>
    <td class="tg-yw4l">Shipping fee</td>
    <td class="tg-baqh"></td>
    <td class="tg-lqy6">100</td>
  </tr>

  <tr>
    <td class="tg-yw4l">VAT (product VAT)</td>
    <td class="tg-baqh"></td>
    <td class="tg-lqy6">440</td>
  </tr>

<!-- totale importo dei prodotti -->
  <tr>
    <td class="tg-l2oz">total</td>
    <td class="tg-amwm">5</td>
    <td class="tg-l2oz">2540</td>
  </tr>
  <tr>
    <td class="tg-9hbo"><h3>Reservation and Discount</h3></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Minus Reservatin fee</td>
    <td class="tg-baqh"></td>
    <td class="tg-lqy6">- 500</td>
  </tr>
  <tr >
    <td class="tg-yw4l">Minus Discount voucer </td>
    <td class="tg-yw4l"></td>
    <td class="tg-lqy6">- 200</td>
  </tr>
  <tr>
    <td class="tg-9hbo">Remaing balance to be paid upon shipment</td>
    <td class="tg-baqh"></td>
    <td class="tg-l2oz">2050 </td>
  </tr>
</table></div>



<div class="recap-box">
<table class="recap-table">
  <colgroup>
  <col style="width: 368px">
  <col style="width: 71px">
  <col style="width: 113px">
  </colgroup>
<tbody>
<tr>
<th colspan="3">
<h3>Order</h3>
</th>
</tr>
<tr>
<th>Product</th>
<th>Q.ta</th>
<th>Price</th>
</tr>
<!-- loop dei prodotti -->
<tr>
<td>e.DO 4 AXESYour Mounting Option: Mounting Kit</td>
<td>1</td>
<td>500</td>
</tr>
<tr>
<td>e.DO 6 AXESYour Mounting Option: Mounting Kit</td>
<td>4</td>
<td>2000</td>
</tr>
<!-- fine loop prodotti -->
<tr>
<td>Shipping fee</td>
<td>&nbsp;</td>
<td>100</td>
</tr>
<tr>
<td>VAT (product VAT)</td>
<td>&nbsp;</td>
<td>440</td>
</tr>
<!-- totale importo dei prodotti -->
   <tfoot>
        <tr class="total-row">
              <th>total</th>
              <th>5</th>
              <th>2540</th>
        </tr>
      <tfoot>
<tr>
<td colspan="3">
<h3>Reservation and Discount</h3>
</td>
</tr>
<tr>
<td>Minus Reservatin fee</td>
<td>&nbsp;</td>
<td>- 500</td>
</tr>
<tr>
<td>Minus Discount voucer</td>
<td>&nbsp;</td>
<td>- 200</td>
</tr>
     <tfoot>
          <tr>
                <th>Remaing balance to be paid upon shipment</th>
                <th>&nbsp;</th>
                <th>2050</th>
          </tr>
     </tfoot>
</tbody>
</table>
</div>
