<h1>sotto carrello tempate 01</h1>

<table  class="table table-striped">
  <tr>
    <th>name</th>
    <th>id_product</th>
    <th>id_product_attribute</th>
    <th>id_product_attribute_reservation_fee</th>
  </tr>
{foreach $reservation_cart as $cartItem}
  <tr>
    <td>{$cartItem->name}</td>
    <td>{$cartItem->id_product}</td>
    <td>{$cartItem->id_product_attribute} </td>
    <td>{$cartItem->id_attribute_reservation_fee} </td>

  </tr>

{/foreach}
</table>

<pre>
combination:
{$combinations|print_r}
</pre>
<pre> {$reservation_cart|print_r}</pre>


<pre> {$reservation_rule|print_r}</pre>
<pre> {$cart_products_list|print_r}</pre>


{*

total
attributes
attributes_small

*}
