
<div id="weecom_reservation" class="weecom_box">

		<div class="weecom_reservation_head weecom_reservation_bold">{l s='Reservation now available for your e.DO' mod='bestkit_reservationfee'}</div>



			<div class="checkbox weecom_reservation_action">

				<input  type="checkbox"
                name="weecom_reservation_action"
                id="weecom_reservation_action"
                value="1" />
              <label for="weecom_reservation_action">Accept</label>  

			</div>



</div>
